@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: "Lato", sans-serif;
  min-width: 300px;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

h1 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  display: block;
  margin-bottom: 40px;
}

p {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
  display: block;
  margin-bottom: 40px;
}

.header {
  background: url("../Img/head.png") center center no-repeat;
  background-size: cover;
  height: 100vh;
}
.header .mobile_icon {
  display: none;
}
.header .nav {
  padding-top: 70px;
}
.header .nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav_list li {
  position: relative;
}
.header .nav_list li:after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #4d4959;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  right: 0;
  opacity: 0.4;
}
.header .nav_list li:nth-child(2):after {
  display: none;
}
.header .nav_list li:nth-child(5):after {
  display: none;
}
.header .nav_list li:nth-child(2) {
  margin-right: 110px;
}
.header .nav_list li:nth-child(4) {
  margin-left: 110px;
}
.header .nav_link {
  margin: 0 60px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #292929;
  transition: 0.2s;
}
.header a:hover {
  color: #292929;
  opacity: 0.8;
  transition: 0.2s;
  transition-delay: 0.1s;
}
.header .logo_img {
  position: absolute;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo_img img {
  width: 85%;
}

@media (max-width: 1000px) {
  .header {
     height: 60vh;
  }
  
  .nav_link {
    margin: 0 30px !important;
  }
}
@media (max-width: 770px) {
  .header {
    padding: 30px;
    height: 60vh;
    position: relative;
  }
  .header:after {
    content: " ";
    top: 28px;
    left: 30px;
    position: fixed;
    width: 70px;
    z-index: 10;
    background-color: #dedede;
    opacity: 1;
    height: 62px;
    transition: 0.2s;
    border-radius: 20px;
    transform: scale(0);
  }
  .header.header_js {
    position: relative;
  }
  .header.header_js:after {
    content: " ";
    top: 28px;
    left: 30px;
    position: fixed;
    width: 70px;
    background-color: #dedede;
    opacity: 1;
    z-index: 100;
    height: 62px;
    transition: 0.2s;
    transform: scale(1);
  }
  .header .mobile_icon {
    display: inline-block;
    position: absolute;
    right: 8%;
    top: 35px;
  }
  .header .mobile_icon img {
    width: 55px;
  }

  nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4d4959;
  }
  nav .nav_list {
    flex-direction: column;
    margin-top: 110px;
  }
  nav .nav_list li:nth-child(2) {
    margin-right: 0px !important;
  }
  nav .nav_list li:nth-child(4) {
    margin-left: 0px !important;
  }
  nav .nav_list .nav_link {
    color: #fff;
    font-size: 20px;
    display: block !important;
    padding: 15px 0;
  }
  nav .nav_list .nav_link:after {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 50%;
    opacity: 1;
  }
  nav .nav_list a:hover {
    color: #fff;
    border: none;
    padding: 15px 0;
    opacity: 0.7;
  }
  nav .nav_list #non_dot:after {
    display: none;
  }
  nav .nav_list .logo_img {
    top: 7%;
  }

  body.lock {
    overflow: hidden;
  }

  body {
    overflow: auto;
  }

  .header_burger {
    display: block;
    margin: 20px;
    position: fixed;
    width: 30px;
    height: 20px;
    z-index: 120;
  }
  .header_burger span {
    position: absolute;
    background-color: #4d4959;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before, .header_burger:after {
    content: "";
    background-color: #4d4959;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before {
    top: 0;
  }
  .header_burger:after {
    bottom: 0;
  }
  .header_burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    background-color: #fff;
  }
  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #fff;
  }
  .header_burger.active span {
    transform: scale(0);
  }

  .nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    transition: all 0.3s ease 0s;
    overflow: auto;
    font-size: 25px;
    z-index: 50;
  }
  .nav.active {
    top: 0;
  }
}
.bg_wrap_1 {
  background-color: #f7f7f7;
}

.container {
  padding: 120px 15px;
}

.new_gen {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.new_gen img {
  margin-bottom: 40px;
}

@media (max-width: 770px) {
  h1 {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 30px;
    text-align: left;
    text-indent: 20px;
  }

  .container {
    width: 100% !important;
    padding: 70px 5%;
  }

  .new_gen {
    width: 100%;
    font-size: 10px;
  }
  .new_gen img {
    margin-bottom: 40px;
  }
}
@media (max-width: 1000px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
}
.brands_row {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.brands_column {
  flex: 0 1 33.333%;
  text-align: justify;
}
.brands_column h1 {
  text-align: center;
}
.brands_column p {
  line-height: 30px;
  margin-bottom: 0;
}

.brands_column_s {
  width: 1600px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.brands_column_s .under_img {
  background: url("../Img/brands_2.png") center center no-repeat;
  display: block;
  background-size: cover;
  padding-bottom: 38%;
}
.brands_column_s .brand_text {
  padding: 60px 30px;
  position: relative;
}

.brands_column_b {
  flex: 0 1 66.667%;
  background: url("../Img/brands_1.png") center center no-repeat;
  background-size: cover;
  transition: 0.3s;
}
.brands_column_b:hover {
  opacity: 0.7;
  transition: 0.3s;
  transition-delay: 0.1s;
  background-size: cover;
}
.brands_column_b:hover .brands_logo {
  transform: scale(0.9);
  transition: 0.3s;
  transition-delay: 0.1s;
}

.brands_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo_s {
  display: block;
  margin: 0 auto 40px auto;
}

@media (max-width: 1000px) {
  .under_img {
    display: none !important;
  }

  .brands_column_b {
    flex: 0 1 50%;
  }

  .brands_column_s {
    flex: 0 1 50%;
  }
}
@media (max-width: 770px) {
  .under_img {
    display: block !important;
  }

  .brands_row {
    flex-direction: column;
  }

  .brands_column_s {
    width: 100%;
  }
  .brands_column_s .brand_text {
    padding: 80px 5%;
  }

  .brands_column_b {
    padding: 11% 0;
  }
}
.brands_column_b_2 {
  flex: auto;
  background: url("../Img/brands_rev2.png") center center no-repeat;
  background-size: cover;
  transition: 0.3s;
}
.brands_column_b_2:hover {
  opacity: 0.7;
  transition: 0.3s;
  transition-delay: 0.1s;
  background-size: cover;
}
.brands_column_b_2:hover .brands_logo {
  transform: scale(0.9);
  transition: 0.3s;
  transition-delay: 0.1s;
}

.under_img_2 {
  background: url("../Img/brands_rev1.png") center center no-repeat !important;
  display: block;
  background-size: cover !important;
  padding-bottom: 38%;
}

@media (max-width: 770px) {
  .under_img_2 {
    display: none !important;
  }

  .brands_column_b_2 {
    padding: 11% 0;
  }
}
.brands_column_b_3_1, .brands_column_b_3_2 {
  flex: 33.333%;
}

.brands_column_b_3_1 {
  background: url("../Img/b_3_1.png") center center no-repeat;
  background-size: cover;
  transition: 0.3s;
}
.brands_column_b_3_1:hover {
  opacity: 0.7;
  transition: 0.3s;
  transition-delay: 0.1s;
  background-size: cover;
}
.brands_column_b_3_1:hover .brands_logo {
  transform: scale(0.9);
  transition: 0.3s;
  transition-delay: 0.1s;
}

.brands_column_b_3_2 {
  background: url("../Img/b_3_2.png") center center no-repeat;
  background-size: cover;
  transition: 0.3s;
}
.brands_column_b_3_2:hover {
  opacity: 0.7;
  transition: 0.3s;
  transition-delay: 0.1s;
  background-size: cover;
}
.brands_column_b_3_2:hover .brands_logo {
  transform: scale(0.9);
  transition: 0.3s;
  transition-delay: 0.1s;
}

.brands_column_s_2 {
  flex: 33.333%;
}

.under_img_3 {
  background: url("../Img/under_last.png") center center no-repeat !important;
  background-size: cover !important;
}

@media (max-width: 1000px) {
  .brands_column_b_3_2 {
    display: none;
  }
}
@media (max-width: 770px) {
  .brands_column_b_3_1 {
    order: 2;
    padding: 15% 0;
  }

  .under_img_3 {
    display: none !important;
  }
}
.shop_body {
  display: flex;
}

.shop_column {
  display: flex;
  flex-direction: column;
  flex: 0 1 33.333%;
}

.top_img {
  display: flex;
  height: 267px;
}

.top_img_1 {
  background: url("../Img/shop_1.png") center no-repeat;
  background-size: cover;
  flex: 0 1 50%;
}

.top_img_2 {
  background: url("../Img/shop_2.png") center no-repeat;
  background-size: cover;
  flex: 0 1 50%;
}

.bottom_img_1 {
  background: url("../Img/shop_3.png") center no-repeat;
  background-size: cover;
  height: 267px;
}

.mid_img {
  display: flex;
  height: 534px;
}

.top_img_4 {
  background: url("../Img/shop_4.png") center no-repeat;
  background-size: cover;
  flex: 0 1 50%;
}

.top_img_5 {
  background: url("../Img/shop_5.png") center no-repeat;
  background-size: cover;
  flex: 0 1 50%;
}

.top_img_6 {
  background: url("../Img/shop_7.png") center no-repeat;
  background-size: cover;
  flex: 0 1 50%;
}

.top_img_7 {
  background: url("../Img/shop_8.png") center no-repeat;
  background-size: cover;
  flex: 0 1 50%;
}

.bottom_img_2 {
  background: url("../Img/brands_rev1.png") center no-repeat;
  background-size: cover;
  height: 267px;
}

.shop_footer {
  background-color: #282f35;
  text-align: center;
}

.shop_button {
  margin: 70px 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #282f35;
  border: 1px solid #fff;
  padding: 15px 30px;
  transition: 0.2s;
}
.shop_button:hover {
  background-color: #fff;
  color: #000;
  transition: 0.2s;
}

@media (max-width: 1000px) {
  .mid_img {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .shop_column_mid {
    flex: 0 1 100%;
  }

  .mid_img {
    flex-direction: row;
    height: 200px;
  }

  .shop_column_between {
    display: none;
  }

  .shop_button {
    line-height: 22px;
    width: 70%;
    margin: 40px 0 !important;
    padding: 15px 30px !important;
  }
}
.mail_body {
  margin: 100px auto;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mail_body p {
  padding: 30px 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
.mail_body .mail_block {
  display: flex;
  flex-wrap: wrap;
}
.mail_body .mail_block input {
  padding: 10px 40px 10px 15px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #000;
  background-color: #ffffff;
  border: 1px solid #d3d7d9;
  border-radius: 5px;
}
.mail_body .mail_block input:focus {
  background-color: #e6e6e6;
}
.mail_body .mail_block button {
  padding: 0 15px;
  margin-left: 20px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  background-color: #64c29e;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .mail_block {
    flex-direction: column;
  }

  button {
    width: 100%;
    margin: 15px 0 !important;
    padding: 7px 0 !important;
  }
}
.footer {
  padding: 100px 0;
  background-color: #f7f7f7;
}

.footer_body {
  margin: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.footer_text {
  flex: 0 1 50%%;
}
.footer_text p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #848789;
}
.footer_text .AOD {
  font-size: 20px;
  margin: 10px 0;
}

.footer_social {
  flex: 0 1 50%;
  text-align: right;
  margin: auto;
}
.footer_social img {
  margin: 0 7px;
}
.footer_logo p {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #848789;
  display: inline-block;
  margin: auto 65px auto 0;
}
.footer_logo img {
  position: absolute;
  right: 0;
  top: -5px;
  display: block;
}

@media (max-width: 1100px) {
  .footer_body {
    width: 90%;
  }
}
@media (max-width: 770px) {
  .footer_body {
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .footer_text {
    margin-bottom: 50px;
  }
  .footer_text p {
    text-align: center;
  }

  .footer_social {
    margin-bottom: 50px;
  }
}
